<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicine Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load nvd3_tags %}
</head>

{% include_chart_jscss %}
{% if date_tag %}
    {% load_chart charttype chartdata chartcontainer  True "%d %b %Y %H" %}
    {% load_chart charttype1 chartdata1 chartcontainer1  True "%d %b %Y %H" %}
    {% load_chart charttype2 chartdata2 chartcontainer2  True "%d %b %Y %H" %}
    {% load_chart charttype3 chartdata3 chartcontainer3  True "%d %b %Y %H" %}
    {% load_chart charttype4 chartdata4 chartcontainer4  True "%d %b %Y %H" %}
{% else %}
    {% load_chart charttype chartdata chartcontainer extra  %}
    {% load_chart charttype1 chartdata1 chartcontainer1 extra1  %}
    {% load_chart charttype2 chartdata2 chartcontainer2 extra2  %}
    {% load_chart charttype3 chartdata3 chartcontainer3 extra3  %}
    {% load_chart charttype4 chartdata4 chartcontainer4 extra4  %}
{% endif %}

<body>

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Home</a></li>
                <li><a href="http://www.tutorialrepublic.com/about-us.php" target="_blank">About</a></li>
                <li><a href="http://www.tutorialrepublic.com/contact-us.php" target="_blank">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Sentimental Analysis Result</h1>
    </div>
</div>

<div class="container-fluid">

    <div class="panel-title pull-left">
        <h4>Result for {{ medicine }} </h4>
    </div>

    <div class="panel-title pull-right">
        <h4>Total Reviews: {{ count }}</h4>
    </div>

    <br>
    <hr>

    <div class="row">
        <div class="col-xs-4">
            {% include_container chartcontainer 200 400 %}
        </div>
        <div class="col-xs-4">
            {% include_container chartcontainer1 200 400 %}
        </div>
        <div class="col-xs-4">
            {% include_container chartcontainer2 200 400 %}
        </div>
    </div>

    <hr>
    <h4>Comparison of Brand Drugs and Generic Drugs for {{ condition }}</h4>
    <hr>
    <div class = "row">
        <div id class="col-xs-6">
            <div class="panel-title pull-left">
                <h6>Brand Drugs </h6>
            </div>
            <div class="panel-title pull-right">
                <h6>Total Reviews: {{ brandCount }}</h6>
            </div>
            <br>
            <hr>
            {% include_container chartcontainer3 %}
        </div>
        <div class="col-xs-6">
            <div class="panel-title pull-left">
                <h6>Generic Drugs</h6>
            </div>
            <div class="panel-title pull-right">
                <h6>Total Reviews: {{ genericCount }}</h6>
            </div>
            <br>
            <hr>
            {% include_container chartcontainer4 %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <footer>
                <form  action="/sentimental/drugdetail"  method="get">
                    <a href="{% url 'drugdetail' %}?condition={{ condition }}&flag=true">More Details of brand drugs>></a>
                </form>
            </footer>
        </div>
        <div class="col-xs-6">
            <footer>
                <form  action="/sentimental/drugdetail"  method="get">
                    <a href="{% url 'drugdetail' %}?condition={{ condition }}&flag=false">More Details of generic drugs>></a>
                </form>
            </footer>
        </div>
    </div>
    <br>
    <hr>
    <h4>List of Keywords of Analysis</h4>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Words</th>
                    <th>Count</th>
                </tr>
                </thead>
                {% for row, row1 in keywords %}
                    <tr>
                        <td>{{row}}</td>
                        <td>{{row1}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

</body>
</html>